<header >                                
    <h1>Big Dinosaur Stuff</h1>
    <!-- <img src="./dino.jpg" alt="Big Dinosaur Picture" /> -->
    <!-- Write anything here! -->
    <nav>
        <ul>
            <% @all_dinos.each do |dino| %>
                <li>
                    <a href="/dinos/<%= dino[:id] %>" class="nav-link" ><%= dino[:name] %></a>
                </li>                    
            <% end %>
        </ul>
</nav>            
</header>
<main>                 
    <% @all_dinos.each do |dino| %>
        <div class="dino-card" id="first-card" >
            <h2><%= dino[:name] %></h2>
            <p>Translation: <%= dino[:translated_name] %></p>
            <p>Family: <%= dino[:family] %></p>
            <p>Diet: <%= dino[:diet] %></p>
        </div>
    <% end %>
</main>     